@media (prefers-reduced-motion: no-preference) {
    @view-transition {
        navigation: auto;
    }
}

body {
    >header {
        display: flex;
        align-items: center;
        
        h1 {
            margin: 0 var(--space-2);
        }

        img {
            max-width: var(--logo-size);
            max-height: var(--logo-size);
        }
    }
}